.card-text{
    font-size: 1.1rem;
    text-transform: capitalize;
    text-decoration: none !important;
}

.card-image{
    width:100%;
    height:200px;
    background-color:blanchedalmond;
    padding: 10px 0;
    cursor: pointer;
}